/* Adicionar dark mode  */
.dark-mode {
  --cor-primaria1: #000000;
  --cor-primaria2: #0d0d0e;
  --cor-primaria3: #ffffff;
  --cor-primaria4: #ffffff;
  --color-gradient: linear-gradient(#09062c, #140f4b);
}

/* Estilos para o campo de busca no modo escuro */
.dark-mode .search-input {
  color: #000000;
  font-family: "Roboto", sans-serif;
}
