@import url(./darkmode.css);
/*Reset */
* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  color: var(--cor-primaria4);
  text-align: center;
}

body {
  background-color: var(--cor-primaria1);
}

/*Root / Variaveis */
:root {
  --cor-primaria1: #fcfbfb;
  --cor-primaria2: #ffffff;
  --cor-primaria2-1: #000000ef;
  --cor-primaria3: #393199;
  --cor-primaria4: #000000;
  --color-gradient: linear-gradient(#ffffff, #ffffff);
}

.container {
  max-width: 1400px;
  margin: auto;
}

.div-bg {
  background-color: var(--cor-primaria1);
}

/* Menu Principal */
.div-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 0px;
}

.div-menu-logo {
  display: inline-block;
  padding: 24px;
  margin-left: 20px;
  font-size: 32px;
  border-radius: 4px;
}
.div-menu-logo a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 10px;
  background-color: var(--cor-primaria4);
  transition: 0.3s;
  position: relative;
}

.div-menu-logo a:hover::after {
  width: 100%;
}
.div-menu a {
  color: var(--color-font);
}

.itens-direita {
  display: flex;
  gap: 2rem;
}

.itens-direita a {
  display: inline-block;
  padding: 20px 0px;
  position: relative;
}

.itens-direita a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 10px;
  background-color: var(--cor-primaria4);
  transition: 0.3s;
  position: absolute;
}

.itens-direita a:hover::after {
  width: 100%;
}
/* Menu de idiomas */
.idioma-menu {
  display: inline-block;
  margin: auto;
  padding: 20px;
  font-family: "roboto" sans-serif;
  font-size: 1.4rem;
}

/* Estilos para o seletor de idiomas */
#idioma {
  padding: 8px;
  font-size: 16px;
  margin-top: -30px;
  border-radius: 4px;
  background-color: var(--cor-primaria1);
}

/* Detalhe do menu idioma */
.idioma-menu::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  max-width: 310px;
  margin-top: 5px;
  background-color: var(--cor-primaria4);
  transition: 1.8s;
  position: absolute;
}

.idioma-menu:hover::after {
  width: 100%;
}

/*Menu afixos */
.afixo-mitica-menu {
  display: flex;
  padding: 40px;
  text-transform: uppercase;
}

.afixo-mitica-menu a {
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin: auto;
  font-size: 3rem;
  padding: 40px;
}

.afixos-mitica-texto {
  display: flex;
  border-radius: 4px;
}

.afixos-mitica-texto::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 10px;
  background-color: var(--cor-primaria4);
  transition: 0.3s;
  position: relative;
}

.afixos-mitica-texto:hover::after {
  width: 100%;
}

/* lista com todos os afixos */
.lista-completa {
  padding: 1px;
  border-top: 20px solid var(--cor-primaria4);
}

.lista-completa li {
  background: var(--cor-primaria1);
}

.lista-completa a::after {
  display: flex;
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 10px;
  transition: 0.3s;
  background-color: var(--cor-primaria4);
}

.lista-completa a:hover::after {
  width: 100%;
}

.afixo-lista {
  display: block;
  justify-content: center;
  text-align: center;
}

.afixo-lista ul {
  display: inline;
}

.afixo-lista li {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  padding: 1rem;
  margin-top: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

.afixo-lista li a {
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 4px;
  color: red;
}

.conteiner-centralizado {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
/* Afixos desta semana */
.afixos-esta-semana {
  display: flex;

  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 32px;
  padding: 20px;
  margin: auto;
  align-items: center;
  border-radius: 5px;

  background-color: var(--cor-primaria2);
  margin-top: 60px;
}

.afixos a {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  color: var(--cor-primaria3);
}

.afixos a::after {
  display: inline-block;
  content: "";
  width: 0px;
  height: 3px;
  background-color: var(--cor-primaria4);
  transition: 0.3s;
  position: relative;
}

.afixos a:hover::after {
  width: 100%;
}

.footer {
  margin-top: 60px;
  background-color: #f7f7f7;
}
.footer p {
  font-size: 32px;
  padding: 60px;
  background-color: var(--cor-primaria2);
}

/* Estilos para o campo de busca e botão */
.search-container {
  text-align: center;
  margin-top: 20px;
}

/* Menu de busca */
.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffffff;
  width: 180px;
  margin-top: 60px;
  margin-right: 5px;
  margin-left: 1px;
  text-transform: uppercase;
}

/* Botão de busca */
.search-button {
  padding: 10px 30px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: var(--cor-primaria2);
  color: #000000;
  border: none;
  cursor: pointer;
}

/* Estilo para destacar o afixo encontrado */
.destacado {
  border: 2px solid #ff0000;
  border-radius: 5px;
  padding: 5px;
}
